.header{
    background-color: teal;
    line-height: 50px;
    text-align: center;
    color: white;
}
.header .concert-text{
    font-size: 22px;
    font-weight: 400;
}
.header .title{
    margin-top: 0;
}