.cart{
    margin-left: 15px;
    border: 1px solid lightgrey;
    padding: 8px;
    border-radius: 10px;
    position: fixed;
}
.cart:hover{
    background-color: rgb(252, 241, 241);
    box-shadow: 4px 4px 7px gray;
    border-radius: 10px;
    border: 1px solid rgb(21, 194, 194);
}
.card-items{
    padding: 8px;
}

.btn{
    text-align: center;
}
.my-button{
    font-size: 15px;
    padding: 8px 30px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    color: white;
    background-color: orange;
    cursor: pointer;
}
.my-button:hover{
    color: #000;
    background-color: white;
    border: 1px solid blue;
}
.check-out{
    text-align: center;
}